@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Sale.Models

@model MemberCardTypeViewModel

@{
    ViewBag.Title = Wording.PageCreate_MemberCardType;
    Layout =Request["IsPopup"] != null && Request["IsPopup"].ToString().ToLower().Equals("true") ?  StringExtention.LAYOUT_POPUP: StringExtention.LAYOUT_ADMIN;
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {        
       ModuleName = StringExtention.MODULE_MEMBERCARDTYPE,
        ActionName = StringExtention.ACTION_CREATE,
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = false
    };
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
    @Html.ScriptTop_DatePicker()
}

@using(Html.BeginPageHeaderContainer(pageSetting))
{

}

@using (Html.BeginForm_AceStyle((string)ViewBag.Title, pageSetting.ActionName, pageSetting.ModuleName, null, FormMethod.Post, new { @class = "form-horizontal", showButton = true, enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <input type="hidden" value="@Request["IsPopup"]" name="IsPopup" />
    <div class="col-sm-2 no-padding">
        @Html.CameraPickerListFor(model => model.ListImage, 1, 800, "membercardtype")
    </div>
    <div class="col-sm-10">
        @Html.CustomTextboxFor(model => model.Name, null, null, WidthType.span12)
        @Html.CustomTextboxFor(model => model.TargetPoint, null, null, WidthType.span12)
        @Html.CustomDropDownListFor(model => model.CardId, SelectListHelper.GetSelectList_Card(Model.CardId, "-Chọn-"))
    </div>
   

    using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="Save">
            <i class="ace-icon fa fa-save"></i>
            @Wording.Save
        </button>
    }
}

@section Scripts {    
    <script>
     
        $(document).ready(function () {
            $('#TargetPoint').numberFormat();
        });
    </script>
    @Html.ScriptBottom_ValidationMvc()  
    @Html.ScriptBottom_DatePicker(StringExtention.FORMAT_DATE)  
    @Html.ScriptBottom_ChosenStyle()
}
