@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Sale.Models

@model ProductOutboundTransferViewModel

@{
    ViewBag.Title = "Xuất kho";

    Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "ProductOutBound",
        ActionName = "Tranfer",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = true
    };
    IEnumerable<SelectListItem> warehouseList = (IEnumerable<SelectListItem>)ViewBag.warehouseList;

    IEnumerable<ProductViewModel> productList = (IEnumerable<ProductViewModel>)ViewBag.productList;
    IEnumerable<SelectListItem> productCategoryList = Erp.BackOffice.Helpers.Common.GetSelectList_Category("product", null, "value");

    IEnumerable<SelectListItem> warehouseSourceList = (IEnumerable<SelectListItem>)ViewBag.warehouseSourceList;
    List<SelectListItem> warehouseDestinationList = ((IEnumerable<SelectListItem>)ViewBag.warehouseDestinationList).Where(item => Model.WarehouseSourceId.HasValue && item.Value != Model.WarehouseSourceId.Value.ToString()).ToList();
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
}
<style>
    .edit-view .control-group, .edit-view .form-group {
        border-top: 1px solid #dedede !important;
    }
</style>
@using (Html.BeginPageHeaderContainer(pageSetting))
{

}

@using (Html.BeginForm_AceStyle((string)ViewBag.Title, "Tranfer", "ProductOutBound", null, FormMethod.Post, new { id = "ProductOutBound", @class = "form-horizontal clearfix" }))
{
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-sm-7">
            @if (Model.WarehouseSourceId != null && Model.WarehouseSourceId > 0)
            {
                <div class="product-search-box top-10">
                    <input id="product_barcode" type="text" placeholder="Mã sản phẩm..." autocomplete="off" />
                    <select id="productSelectList" name="productSelectList" style="width:400px">
                        <option value="">- Tìm sản phẩm -</option>
                        @foreach (var item in productList.OrderBy(x => x.Name))
                        {
                            <option value="@item.Id" data-selected="0" data-value="@item.Id |  @(string.IsNullOrEmpty(item.Image_Name) ? "/assets/css/images/noimage.gif" : "/files/product/" + item.Image_Name) | @(item.Code + " - " + item.Name + " (Tồn kho: " + Common.PhanCachHangNgan(item.QuantityTotalInventory) + ")")" data-code="@item.Code" data-barcode="@item.Barcode" data-product-type="@item.CategoryCode" data-price="@(item.PriceOutbound)" data-unit="@item.Unit" data-quantity-inventory="@item.QuantityTotalInventory.Value">@item.Name</option>
                        }
                    </select>
                </div>

                <div id="listOrderDetail" class="table-responsive top-10">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:5%">STT</th>
                                <th>Tên sản phẩm</th>
                                <th style="width:10%">Số lượng</th>
                                <th style="width:15%">Đơn giá</th>
                                <th style="width:15%">Thành tiền</th>
                                <th style="width:50px;"></th>
                            </tr>
                        </thead>
                        <tbody class="detailList"></tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <input style="width:30px;" autocomplete="off" data-val="true" data-val-number="The field Sản phẩm đã chọn must be a number." data-val-required="Bắt buộc nhập" id="ProductItemCount" maskformat="" name="ProductItemCount" placeholder="" type="text" value="" readonly="readonly" />
                                </td>
                                <td></td>
                                <td id="TongSoLuong" align="right" style="font-weight:bold"></td>
                                <td></td>
                                <td id="TongThanhTien" align="right" style="font-weight:bold"></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                    <span style="color:red" class="field-validation-valid help-inline" data-valmsg-for="ProductItemCount" data-valmsg-replace="true"></span>
                </div>
            }
        </div>
        <div class="col-sm-5">
            <div class="widget-box" id="widget-box-1">
                <div class="widget-header">
                    <h5 class="widget-title">Thông tin khởi tạo</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        @if (Model.WarehouseSourceId == null)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">
                                    <i class="ace-icon fa fa-times"></i>
                                </button>

                                <strong>
                                    <i class="ace-icon fa fa-times"></i>
                                    Thông báo!
                                </strong>

                                @*<div class="detail_list_product">*@
                                Chọn kho nguồn để thêm sản phẩm
                                @*</div>*@
                                <br>
                            </div>
                        }
                        @Html.CustomTextboxCodeFor(model => model.Code, "ProductOutbound", null, null, WidthType.span12)
                        @Html.CustomDropDownListFor(model => model.WarehouseSourceId, warehouseSourceList, WidthType.span12, true, "- Chọn kho -", DropdownListStyle.DropdownListStyleDefault)
                        @Html.HiddenFor(model=> model.Type)

                        <div class="control-group form-group">
                            <label class="control-label col-lg-5 col-md-4 col-sm-4" for="">Xuất chuyển kho</label>
                            <div class="control-value col-lg-7 col-md-8 col-sm-8" style="line-height:0px!important">
                                <label class="radio"><input type="radio" value="@ProductOutboundType.Internal" class="group_choice ace" data-target="#group_choice_wrap1" checked name="group_choice" />  <span class="lbl"></span></label>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <label class="control-label col-lg-5 col-md-4 col-sm-4" for="">Xuất khác</label>
                            <div class="control-value col-lg-7 col-md-8 col-sm-8" style="line-height:0px!important">
                                <label class="radio"><input type="radio" value="@ProductOutboundType.Service" class="group_choice ace" data-target="#group_choice_wrap2" name="group_choice" /> <span class="lbl"></span></label>
                            </div>
                        </div>
                        <div id="group_choice_wrap1" class="group_choice_wrap clearfix">
                            @Html.CustomDropDownListFor(model => model.WarehouseDestinationId, warehouseDestinationList, WidthType.span12, true, "- Chọn kho -", DropdownListStyle.DropdownListStyleDefault)
                        </div>

                        <div id="group_choice_wrap2" class="group_choice_wrap clearfix" style="height:0;overflow: hidden;">
                        </div>

                        @Html.DateTimePicker(model => model.CreatedDate, "dd/MM/yyyy H:mm", "00/00/0000 00:00:00", true, false)
                        @Html.CustomTextAreaFor(model => model.Note, null, WidthType.span12)
                        @Html.CustomTextboxFor(model => model.TotalAmount, null, null, WidthType.span12, true, new Dictionary<string, object> { { "class", "col-sm-12" }, { "disabled", "disabled" } })

                    </div>
                </div>
            </div>
        </div>
    </div>

    using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="Save" onclick="return CheckSubmit()">
            <i class="ace-icon fa fa-save"></i>
            @Wording.Save
        </button>
    }
}

@section Scripts {

    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_ChosenStyle()
    @Html.ScriptBottom_DatePicker("dd/MM/yyyy")

    <link href="/Scripts/RadCombobox_v1/RadComboBoxLite.css" rel="stylesheet" />
    <script src="/Scripts/RadCombobox_v1/rabCombobox.js"></script>

    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#WarehouseSourceId").change(function ()
            {
                ShowLoading();
                window.location = window.location.href.split("?")[0] + "?WarehouseSourceId=" + $(this).val();
            });

            //init rcb chọn sản phẩm
            $('#productSelectList').radComboBox({
                colTitle: 'ID, Hình, Tên sản phẩm',
                colValue: 1,
                colImage: 2,
                colHide: '1',
                colSize: '0px,50px,',
                colClass: ',,',
                //width: 600,
                height: 300,
                boxSearch: true,
                colSearch: 2
            });

            $('#TotalAmount').numberFormat();
            $('.detail_item_price').numberFormat();
            $('#PaymentViewModel_Amount').val('0').numberFormat();
            $("#ProductItemCount").attr("readonly", "true");

            //Hiển thị giá và tính thành tiền khi chọn sản phẩm
            $('#productSelectList').on('change', function ()
            {
                var $this = $(this);
                var selected = $this.find("option:selected");

                if (selected.val() == '')
                    return;
                var item = false;
                $('.detailList tr').each(function (index, elem)
                {
                    if ($(elem).data('productid') == selected.val())
                    {
                        var $qty = $('#DetailList_' + index + '__Quantity');
                        var qtyCal = parseInt($qty.val()) + 1;
                        if (parseInt(selected.data("quantity-inventory")) <= qtyCal)
                        {
                            $qty.val(selected.data("quantity-inventory"));
                        }
                        else
                        {
                            $qty.val(qtyCal);
                        }
                        calcAmountItem(index);
                        calcTotalAmount();
                        item = true;
                    }
                });
                if (item)
                {
                    return;
                }
                var OrderNo = $('.detailList tr.detail_item').length;
                var ProductId = selected.val();
                var ProductName = selected.text();
                var Unit = selected.data("unit");
                var Quantity = 1;
                var Price = selected.data("price");
                var ProductType = selected.data("product-type");
                var ProductCode = selected.data("code");
                var QuantityInventory = selected.data("quantity-inventory");
                var WarehouseId = $("#WarehouseSourceId").find("option:selected").val();

                var formdata = {
                    OrderNo: OrderNo,
                    ProductId: ProductId,
                    ProductName: ProductName,
                    Unit: Unit,
                    Quantity: Quantity,
                    Price: Price,
                    ProductType: ProductType,
                    ProductCode: ProductCode,
                    QuantityInventory: QuantityInventory,
                    WarehouseId: WarehouseId
                };

                //Thêm dòng mới
                ClickEventHandler(true, "/ProductOutBound/LoadProductItemS", ".detailList", formdata, function ()
                {
                    $('#ProductItemCount').val($('#listOrderDetail .detailList tr.detail_item').length);
                    $('#DetailList_' + OrderNo + '__Price').numberFormat();
                    $('#DetailList_' + OrderNo + '__Quantity').numberOnly();
                    $("#DetailList_" + OrderNo + "__Quantity").focus().select();
                    calcTotalAmount();
                });
            });

            $('#listOrderDetail').on('focus', '.detail_item_price', function ()
            {
                $(this).select();
            });

            $('#listOrderDetail').on('focus', '.detail_item_qty', function ()
            {
                $(this).select();
            });

            // tính thành tiền và tổng cộng
            $('#listOrderDetail').on('change', '.detail_item_qty', function ()
            {
                var $this = $(this);
                var id = $this.closest('tr').data('id');
                if ($(this).val() > $(this).data("quantity-inventory"))
                {
                    $(this).val($(this).data("quantity-inventory"));
                }
                //tính tổng cộng
                calcAmountItem(id);
                calcTotalAmount();
            });

            $('#listOrderDetail').on('change', '.detail_item_price', function ()
            {
                var $this = $(this);
                var id = $this.closest('tr').data('id');
                calcAmountItem(id);
                calcTotalAmount();
            });

            $('#listOrderDetail').on('keypress', '.detail-item-price, .detail_item_qty', function (e)
            {
                if (e.which == 13)
                {
                    e.preventDefault();
                }
            });

            $('#product_barcode').keypress(function (e)
            {
                if (e.which == 13)
                {
                    e.preventDefault();
                    $('#product_barcode').trigger('change');
                }
            });

            //khi nhập barcode
            $('#product_barcode').change(function ()
            {
                var $this = $(this);
                if ($this.val() != '')
                {

                    var barcode = $this.val();
                    //đặt lại giá trị rỗng
                    $this.val('').focus();

                    var valueSearch = searchProductByBarCodeContain(barcode);
                    if (valueSearch == undefined)
                    {
                        alert('Không tìm thấy sản phẩm với mã code trên!');
                        return;
                    }

                    $('#productSelectList').val(valueSearch).trigger("change");
                }
            });

            // xóa sản phẩm
            $('#listOrderDetail').on('click', '.btn-delete-item', function ()
            {
                //$(this).closest('tr').next('tr.template_location').remove();
                $(this).closest('tr').remove();

                var countItem = $('.detailList tr.detail_item').length;
                $('#ProductItemCount').val(countItem);

                if (countItem == 0)
                {
                    $('#ProductItemCount').val('');
                    $('#TongSoLuong').text('');
                    $('#TongThanhTien').text('');
                }
                $('.detailList tr.detail_item').each(function (index, tr)
                {
                    $(tr).attr('role', index).data("id", index);
                    $(tr).find('td:first-child').text(index + 1);
                    $(tr).find('.detail_item_id').attr('name', 'DetailList[' + index + '].ProductId').attr('id', 'DetailList_' + index + '__ProductId');
                    $(tr).find('.detail_item_qty').attr('name', 'DetailList[' + index + '].Quantity').attr('id', 'DetailList_' + index + '__Quantity');
                    $(tr).find('.detail_item_price').last().attr('name', 'DetailList[' + index + '].Price').attr('id', 'DetailList_' + index + '__Price');
                    $(tr).find('.detail_item_price').first().attr('id', 'mask-DetailList_' + index + '__Price');
                    $(tr).find('.detail_item_unit').attr('name', 'DetailList[' + index + '].Unit').attr('id', 'DetailList_' + index + '__Unit');
                });
                calcTotalAmount();
            });
        });
        function searchProductByBarCodeContain(barcode)
        {
            barcode = barcode.toLowerCase();
            //var $productSelect = $('.detail_item_id').first();

            var $optionList = $("#productSelectList").find('option');

            var arrResulft = [];
            for (var i = 0; i < $optionList.length; i++)
            {
                var data_code = $($optionList[i]).data('code') != undefined ? $($optionList[i]).data('code').toString().toLowerCase() : undefined;
                if (barcode.indexOf(data_code) != -1)
                    arrResulft.push($($optionList[i]).attr('value'));

                if (arrResulft.length == 1)
                {
                    return arrResulft[0];
                }
            }

            return arrResulft[0];
        };

        function calcAmountItem(id, priceFrom)
        {
            var price = 0;
            var $priceElem = $('#DetailList_' + id + '__Price');
            price = parseFloat($priceElem.val());
            var $qty = $('#DetailList_' + id + '__Quantity');
            var qty = 1;
            if ($qty.val() == '')
            {
                $qty.val(0);
            } else
            {
                qty = parseInt($qty.val()) < 0 ? parseInt($qty.val()) * -1 : parseInt($qty.val());
            }
            var total = parseFloat(price) * qty;
            $('tr#product_item_' + id).find('.detail_item_total').text(currencyFormat(total));
        };

        function calcTotalAmount()
        {
            var total = 0;
            var total1 = 0;

            var selector = '.detailList tr.detail_item';
            $(selector).each(function (index, elem)
            {
                if ($(elem).find('.detail_item_total').text() != '')
                { // la số thì mới tính
                    total += parseInt($(elem).find('.detail_item_total').text().replace(/\./g, ''));
                    $("#TongThanhTien").text(currencyFormat(total));
                    $(elem).find('.detail_item_total').text(currencyFormat($(elem).find('.detail_item_total').text()));
                }
                console.log($(elem).find('.detail_item_qty').val());
                if ($(elem).find('.detail_item_qty').val() != '')
                { // la số thì mới tính
                    total1 += parseInt($(elem).find('.detail_item_qty').val().replace(/\./g, ''));
                    $("#TongSoLuong").text(currencyFormat(total1));
                }
            });
            $('#mask-TotalAmount').val(currencyFormat(total));
            $('#TotalAmount').val(total);

        };

        function checkChosenProductOnTable()
        {
            var flag = true;
            if ($('#PurchaseOrderId').val() == '')
            {
                $('.detailList select.detail_item_id').each(function (index, elem)
                {
                    if ($(elem).val() == '')
                    {
                        var message = $(elem).data('val-required') != undefined ? $(elem).data('val-required') : 'Chưa chọn sản phẩm!';
                        $(elem).next('span').text(message);
                        flag = false;
                    }
                });
            }
            return flag;
        }

        //hàm gọi lại từ form tạo mới phiếu nhập
        function ClosePopupAndAppendSelectPurchaseOrder(optionSelect)
        {
            ClosePopup(false);
            $('#PurchaseOrderId').append($(optionSelect)).trigger("chosen:updated");
        }

        function parseValidatorForm(form)
        {
            //jQuery.noConflict();

            // if the form is in a dialog box {
            var form = $(form);
            form.removeData('validator').removeData('nobtrusiveValidation');
            $.validator.unobtrusive.parse(form); // }

            $.fn.extend({
                // form validation {
                isValid: function ()
                {
                    var self = $(this);
                    $.validator.unobtrusive.parse(self);
                    return self.data('unobtrusiveValidation').validate();
                } // }
            });
        };
        $(".group_choice").change(function ()
        {
            ShowLoading();
            $(".group_choice_wrap").css('height', 'initial');
            if ($(this).is(":checked"))
            {
                $(".group_choice_wrap").hide();
                $($(this).data("target")).show();
                $('#Type').val($(this).val());
            }
            HideLoading();
        });
        function CheckSubmit()
        {
            var mes = "";
            var selector = '.detailList tr.detail_item';
            $(selector).each(function (index, elem)
            {
                if ($(elem).find('.detail_item_qty').val() == 0)
                {
                    mes += "Chưa nhập số lượng sản phẩm thứ" + (index +1)+ " <br/>";
                }
            });

            if ($('#Type').val() == 'internal')
            {
                if ($('#WarehouseDestinationId').val() == '')
                {
                    mes += "Chưa chọn kho đích <br/>";
                }
            }
            if (mes !="")
            {
              
                alertPopup('Lỗi!', mes, 'error');
                return false;
            }
            return true;

        }
    </script>
}
