@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Sale.Models

@model CarsViewModel

@{
    ViewBag.Title = Wording.PageCreate_Cars;
    Layout = Request["IsPopup"] != null && Request["IsPopup"].ToString().ToLower().Equals("true") ? StringExtention.LAYOUT_POPUP : StringExtention.LAYOUT_ADMIN;
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "Cars",
        ActionName = StringExtention.ACTION_CREATE,
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = true
    };
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
    @Html.ScriptTop_DatePicker()
}

@using (Html.BeginPageHeaderContainer(pageSetting))
{

}

@using (Html.BeginForm_AceStyle((string)ViewBag.Title, pageSetting.ActionName, pageSetting.ModuleName, null, FormMethod.Post, new { @class = "form-horizontal", showButton = true }))
{
    @Html.ValidationSummary(true)

    <input type="hidden" value="@Request["IsPopup"]" name="IsPopup" />
    <input type="hidden" value="@Request["CustomerId"]" name="CustomerId" />
    @Html.CustomTextboxFor(model => model.Plate, null, null, WidthType.span12)
    @Html.CustomDropDownListFor(model => model.Manufacturer, SelectListHelper.GetSelectList_Category("ManufacturerCar", Model.Manufacturer, string.Format("- {0} -", Wording.ManufacturerCar)), WidthType.span12)
    @Html.CustomDropDownListFor(model => model.CarLineId, SelectListHelper.GetSelectList_CarLine(Model.Manufacturer, Model.CarLineId, string.Format("- {0} -", Wording.Vehicles)), WidthType.span12)
   
    @Html.CustomTextboxFor(model => model.Color, null, null, WidthType.span12)
    @Html.CustomTextboxFor(model => model.Frames, null, null, WidthType.span12)
    @Html.CustomTextboxFor(model => model.Number, null, null, WidthType.span12)
    @Html.CustomTextAreaFor(model => model.Note, null, WidthType.span12)


    using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="Save">
            <i class="ace-icon fa fa-save"></i>
            @Wording.Save
        </button>
    }
}

@section Scripts {
    <script>

        $(document).ready(function () {
            $('#Number').numberOnly();
            $('#Frames').numberOnly();
            //Get
            var url = '/api/BackOfficeServiceAPI/FetchCarLines';
            var CarLineId = $('#CarLineId'); // cache it
            $("#Manufacturer").change(function () {
                ShowLoading();
                var m = $(this).val(); // Use $(this) so you don't traverse the DOM again
                $.getJSON(url, { manufacturerCar: m }, function (response) {
                    CarLineId.empty(); // remove any existing options
                   
                    $(response).each(function () {
                        $(document.createElement('option'))
                            .attr('value', this.Id)
                            .text(this.Name)
                            .appendTo(CarLineId);
                    });

                    CarLineId.trigger("chosen:updated");
                    HideLoading();
                });
            });
        });
        
    </script>
    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_DatePicker(StringExtention.FORMAT_DATE)
    @Html.ScriptBottom_ChosenStyle()
}
