@using <APP_NAME>.BackOffice.App_GlobalResources
@using <APP_NAME>.BackOffice.Helpers
@using <APP_NAME>.BackOffice.<AREA_NAME>.Models

@model <MODULE_NAME>ViewModel

@{
    ViewBag.Title = Wording.PageEdit_<MODULE_NAME>;
    Layout = "~/Views/Shared/" + (Request["IsPopup"] != null && Request["IsPopup"].ToString().ToLower().Equals("true") ?  "_PopupLayout.cshtml":"ACE_AdminLayout.cshtml");
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {        
        ModuleName = StringExtention.MODULE_<MODULE_NAME_UPPER>,
        ActionName = StringExtention.ACTION_EDIT,
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = true
    };
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
}

@using(Html.BeginPageHeaderContainer(pageSetting))
{

}

@using (Html.BeginForm_AceStyle((string)ViewBag.Title, pageSetting.ActionName, pageSetting.ModuleName, null, FormMethod.Post, new { @class = "form-horizontal", showButton = true }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatedUserId)
    @Html.HiddenFor(model => model.AssignedUserId)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.IsDeleted)
    <input type="hidden" value="@Request["IsPopup"]" name="IsPopup" />

    <CONTENT>

    using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="Save">
            <i class="ace-icon fa fa-save"></i>
            @Wording.Save
        </button>
    }
}

@section Scripts {
    
    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_ChosenStyle()
}
